<% let title = "Home" %>
<% include partials/header.ejs %>



<div class="wrapper">

  <div class="container">
        <h1 class="header">Lets Chat</h1>
        <button class="logout-btn" id="sign-out">Logout</button>
        <div id="message-alert"></div>
      <div class="chat-canvas" id="chat-canvas">
        <ul id="chat-list"></ul>
      </div>
      <p class="typing"></p>
      <div class="online-list-container" id="list-canvas"></div>

      <div class="chat-form" id="chat-form-canvas">
        <form id="chat-form">
          <input type="text" name="chat-body" placeholder="What's on your mind?">
          <input type="submit" name="" value="Send">
        </form>
      </div>
  </div>
</div>




<% include partials/footer.ejs %>
