<% let title = "Sign In | Sign Up" %>
<% include partials/header.ejs %>

<h1>Lets Chat</h1>
<h2>I want to chat</h2>
<p id="something">Hello World, I really want to chat</p>

<% include partials/footer.ejs %>
