<% let title = "Sign In | Sign Up" %>
<% include partials/header.ejs %>



<div class="wrapper">
  <h1>Lets Chat</h1>
  <div class="container">
    <div class="">
        <form id="sign-up">
          <input type="text" name="username" value="" placeholder="Enter Username">
          <input type="password" name="password" value="" placeholder="Create Password">
          <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="">
      <form action="/sign-in" method="POST">
        <input type="text" name="username" value="" placeholder="Enter Username">
        <input type="password" name="password" value="" placeholder="Enter Password">
        <button type="submit">Sign In</button>
      </form>
    </div>

    <div id="auth-messages"></div>
  </div>
</div>




<% include partials/footer.ejs %>
