<% let title = "Sign In | Sign Up" %>
<% include partials/header.ejs %>



<div class="wrapper">

  <div class="container">
    <h1 class="header">Lets Chat</h1>
    <div id="auth-messages"></div>
    <div class="form-container">
      <div class="">
          <form id="sign-up">
            <h3>Register</h3>
            <input type="text" name="username" value="" placeholder="Enter Username">
            <input type="password" name="password" value="" placeholder="Create Password">
            <button type="submit">Register</button>
          </form>
      </div>
      <div class="">
        <form action="/sign-in" method="POST">
          <h3>Sign In</h3>
          <input type="text" name="username" value="" placeholder="Username">
          <input type="password" name="password" value="" placeholder="Password">
          <button type="submit">Sign In</button>
        </form>
      </div>
    </div>



  </div>
</div>




<% include partials/footer.ejs %>
